.infobox {
  color: blue;
}
.user .infobox {
  color: gray;
}

.message {
  color: gray;
}
.message.new {
  color: red;
}

body.has-sidebar .infobox .message {
  content: "body.has-sidebar .infobox .message"; }
