@import "math";

$radius: sqrt(250/$PI);
$diameter: (2px * $radius);
.circle {
  border-radius: 50%;
  height: $diameter;
  width: $diameter;
}

$hypotenuse: 300px;
.triangle {
  height: 20px;
  width: (sin(40)*$hypotenuse);
}

.rectangle {
  height: pow(2, 4);
  width: cbrt(216);
}
